/* -------------------- Login - 2Du -------------------- */
#login-form{
    width: 32vw;
    height: 57vh;
    margin: 0 auto;
    border: 2px solid #CCCCCC;
    border-radius: 4px;
}

.login-alert {
    margin-top: 20vh;
    margin-bottom: 12px;
    text-align: center;
}

.alert-message {    
   color: red;
   font-weight: 500;
   font-size: 18px;
}

.login-container{ 
    padding: 2vh 2vw; 
}

.login-content{
    margin-bottom: 4vh;
}

.login-header{
    border-bottom: 2px solid #CCCCCC;
    margin: -2vh -2vw 3vh -2vw;
    padding: 2vh 2vw;
    background-color: rgb(245, 245, 245) ;
    font-size: 22px;
    font-weight: 400;
}

.login-textbox{
    width: 27.5vw;
    height: 6vh;
    border: 2px solid #CCCCCC;
    border-radius: 5px;
    text-indent: 15px;
    font-size: 15px;
}

.error{  
    position: absolute;
}

.error-message{
    color:red;
    font-size: 18px;
}

.login-checkbox{
    margin-left: 0;
    background: #DEDEDE;
}

.login-content.invalid .login-textbox{
    border-color: red;
}

#login-button{
    width: 27.5vw;
    height: 7vh;
    color: white;
    background-color: rgb(92, 184, 92);
    border: 0;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 600;
}

#login-button:hover{
    cursor: pointer;
    color: whitesmoke;
    background: #1de11d;
}

.login-register{
	text-decoration: none;
}


/* -------------------- Register - 2Du -------------------- */
#register-form{
    width: 35vw;
    height: 70vh;
    margin: 0 auto;
    border: 2px solid #CCCCCC;
    border-radius: 4px;
}

.register-alert {
    margin-top: 15vh;
    margin-bottom: 12px;
    text-align: center;
}

.register-container{ 
    padding: 2vh 2vw; 
}

.register-content{
    margin-bottom: 4vh;
}

.register-header{
    border-bottom: 2px solid #CCCCCC;
    margin: -2vh -2vw 3vh -2vw;
    padding: 2vh 2vw;
    background-color: rgb(245, 245, 245);
    font-size: 22px;
    font-weight: 400;
}

.register-textbox{
    width: 30.5vw;
    height: 6vh;
    border: 2px solid #CCCCCC;
    border-radius: 4px;
    text-indent: 15px;
    font-size: 15px;
}

.register-content.invalid .register-textbox{
    border-color: red;
}

#register-button{
    width: 30.5vw;
    height: 7vh;
    color: white;
    font-size: 20px;
    background-color: rgb(92, 184, 92);
    border: 0px;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 600;
}


/* -------------------- Edit Profile - Wibu -------------------- */

html {
    scroll-behavior: smooth;
}

/* #main::after {
    content: "";
    display: block;
    clear: both;
} */

#content {
    padding-top: 100px;
    margin-left: 250px;
    padding-left: 2%;
}

#content .heading {
    border-bottom: 1px solid #333;
    width:98%;
}

#content .form-content {
    border: 1px solid #CCCCCC;
    background-color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 10px;
    width:98%;
}

#content .form-content .heading-form-profile {
    height: 40px;
    border-bottom: 2px solid #CCCCCC;
    background-color: #F5F5F5;
}

#content .form-content .heading-form-profile .text-heading {
    position: relative;
    left: 20px;
    top: 10px;
    font-size: 18px;
    font-weight: 300;
}

#content .form-profile {
    width: 90%;
    margin: 4px;
    background-color: #FFFFFF;
    padding-left: 15px;
}

#content .form-profile {
    margin: 20px 50px 10px 0;
}

#content .form-profile .row {
    margin-top: 20px;
}
#content .form-profile .row:last-child {
    margin-bottom: 10px;
}

#content .form-profile .profile-label {
    margin: 4px;
    font-weight: 550;
}

#content .form-profile .profile-input {
    width: 100%;
    margin: 8px 4px 0px;
    padding: 4px 8px;
    height: 35px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
}

#content .form-profile #profile-description.profile-input {
    height: 100px;
    margin-bottom: 10px;
}

#content .form-profile .btn {
    border: 0 solid;
    border-radius: 4px;
    color: white;
    background: #2bcb2b;
    font-weight: 500;
    font-size: 15px;
}

#content .form-profile .btn:hover {
    cursor: pointer;
    background: #1de11d;
}

#profile-email {
    display: block;
    margin: 8px 4px 16px;
    width: 100%;
}

#profile-description {
    height: 60px;
}

#content .form-profile .error-message {
    margin-left: 6px;
}

#content .form-profile .row.invalid>input {
    border: 1px solid red;
}

#content .form-profile .row.invalid>.error-message {
    color: red;
    font-size: 16px;
    margin-bottom: 10px;
}

.btn {
    margin-left: 5px;
    padding: 5px 5px 5px 5px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    height: 35px;
    width: 110px;
}

/* -------------------- Add Content - Dibu -------------------- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    zoom: 100%;
}

.add-content{
    padding-top: 100px;
    margin-left: 250px;
    padding-left: 2%;
    /*height: 100%;*/
}

.add-content .form-content hr{
    width:98%;
}

.add-content .form-content .container {
    width: 98%;
    margin-top: 30px;
}

.add-content .form-content .container h2{
    font-size: 16px;
    font-weight: 300;
    position: relative;
    left: 20px;
    top: 10px;
}

.add-content .form-content .container .add-content-title{
    margin-top: 30px;
    border: 1px solid #CCCCCC;
    width: 100%;
    height: 40px;
    background-color: #F5F5F5;
}

.add-content .form-content .container .input-content{
    border: 1px solid #CCCCCC;
    padding-left: 15px;
    padding-bottom: 10px;
}

.add-content .form-content .container .input-content .input-field{
    margin: 20px 50px 10px 5px;
}

.add-content .form-content .container .input-content .input-field label{
    font-weight: 550;
}

.add-content .form-content .container .input-content .input-field input, textarea{
    width: 95%;
    padding: 5px 5px 5px 5px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    margin-top: 5px;
}

.add-content .form-content .container .input-content .input-field .title {
    height: 35px;
}

.add-content .form-content .container .input-content .input-field .brief {
    height: 150px;
}

.form-content .container .input-content .input-field .content {
    height: 250px;
}

.form-content .container .input-content .button-field input{
    margin-left: 5px;
    padding: 5px 5px 5px 5px;
    background: #2bcb2b;
    border: 0 solid;
    height: 35px;
    width: 110px;

    border-radius: 4px;
    color: white;
    font-weight: 500;
    font-size: 15px;
}
.form-content .container .input-content .button-field input:hover{
    cursor: pointer;
    background: #1de11d;
}
/* validation  */
.invalid-input{
    border: 1px solid red !important;
}

.valid-input{
    border: 2px solid rgb(70, 79, 206) !important;
}

.active-Visible{
    visibility:visible !important;
}

.invalid-Message{
    color: red;
    /*position:absolute;*/
    text-align: left;
    margin-left: 3px;
    margin-top: 1px;
    margin-bottom: 10px;
}

/*Edit Content*/

.edit-content{
    padding-top: 100px;
    margin-left: 250px;
    padding-left: 2%;
    /*height: 100%;*/
}

.edit-content .form-content hr{
    width:98%;
}

.edit-content .form-content .container {
    width: 98%;
    margin-top: 30px;
}

.edit-content .form-content .container h2{
    font-size: 16px;
    font-weight: 300;
    position: relative;
    left: 20px;
    top: 10px;
}

.edit-content .form-content .container .edit-content-title{
    margin-top: 30px;
    border: 1px solid #CCCCCC;
    width: 100%;
    height: 40px;
    background-color: #F5F5F5;
}

.edit-content .form-content .container .input-content{
    border: 1px solid #CCCCCC;
    padding-left: 15px;
    padding-bottom: 10px;
}

.edit-content .form-content .container .input-content .input-field{
    margin: 20px 50px 10px 5px;
}

.edit-content .form-content .container .input-content .input-field label{
    font-weight: 550;
}

.edit-content .form-content .container .input-content .input-field input, textarea{
    width: 95%;
    padding: 5px 5px 5px 5px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    margin-top: 5px;
}

.edit-content .form-content .container .input-content .input-field .title {
    height: 35px;
}

.edit-content .form-content .container .input-content .input-field .brief {
    height: 150px;
}

/* -------------------- View Content - Thắng -------------------- */
body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

header{
    position: fixed;
    background-color: #F8F8F8;
    padding: 20px;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #CCCCCC;
    z-index: 99;
}

.left-area h3{
    color: #B9A48D;
    /*margin: 0;*/
    margin-left: -5px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
}

.logout_btn{
    position: relative;
    padding: 5px;
    /* background: #337AB7; */
    color: #337AB7;
    float: right;
    margin-top: -30px;
    margin-right: 0;
    border-radius: 2px;
    font-size: 15px;
    transition-property: background;
    cursor: pointer;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logout_btn.active {
    background: #c6c6c6;
}
.logout_btn>a {
    text-decoration: none;
    color: #337AB7;
}
.logout_btn>a i:first-child {
    margin-right: 1px;
}
.logout_btn:hover{
    color: #49a1ee;
}

.logout_btn .subnav.active{
    display: inline-block;
}

.logout_btn .subnav {
    display: none;
    position: absolute;
    top: calc(100%);
    right: 0;
    background-color: #fff;
    list-style-type: none;
    text-decoration: none;
    min-width: 165px;
}
.logout_btn .subnav li {
    display: flex;
    align-items: center;
    list-style-type: none;
    color: #000;
    height: 45px;
    font-size: 16px;

    padding: 0 24px;
    border-left: none;
    border-right: none;
}

.logout_btn .subnav li.subnav-top{
    border-top: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}
.logout_btn .subnav li.subnav-bottom{
    border: 1px solid #CCCCCC;
}

.logout_btn .subnav li:hover{
    background: #ececec;
}

.logout_btn .subnav li a {
    color: #000;
    text-decoration: none;
}

.sidebar{
    background-color: #F8F8F8;
    margin-top: 60px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    height: 100%;
    width: 250px;
    border-right: 1px solid #CCCCCC;
    z-index: 99;
}

.sidebar a{
    color: #3B7FB9;
    display: block;
    /* width: 100%; */
    line-height: 40px;
    text-decoration: none;
    padding-left: 15px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}

.sidebar a.sidebar-top {
    border-top: 1px solid #CCCCCC;
}

.sidebar a.sidebar-bottom {
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
}

.sidebar a:hover{
    background-color: #EEEEEE;
}


.sidebar .form-search {
    display: flex;
    align-items: center;
    flex-direction: row;
    /*margin-top: -5px;*/
    /*margin-left: 15px;*/
    /*margin-bottom: 20px;*/
    /*margin-right: 15px;*/
    margin: -5px 15px 20px 15px;
}


.sidebar .sidebar-container .form-search .search-input {
    padding: 2px;
    border: 2px solid #CCCCCC;
    height: 40px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    text-indent: 10px;
    width: 180px;
}

.sidebar .sidebar-container .form-search .search-btn {
    /* background-color: #ccc; */
    border-top: 2px solid #CCCCCC;
    border-right: 2px solid #CCCCCC;
    border-bottom: 2px solid #CCCCCC;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 40px;
    width: 40px;
    padding-right: 18px;
}

.sidebar .form-search .search-btn:hover {

}

.sidebar .form-search .search-btn i{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -50%);
}

.sidebar i{
    padding-right: 10px;
}

.view-content{
    padding-top: 100px;
    margin-left: 250px;
    padding-left: 2%;

    visibility: hidden;
    opacity: 0;
}

.view-content.show{
    visibility: visible;
    opacity: 1;
}

#loading{
    padding-top: 100px;
    margin-left: 250px;
    padding-left: 2%;
    visibility: visible;
    opacity: 1;
}

#loading.hide{
    display: none;
    /*visibility: hidden;*/
    /*opacity: 0;*/
}

#loading p{
    font-size: 25px;
}

.view-content hr{
    width: 98%;
    margin-left: 0;
}

.view-content-list-title{
    margin-top: 30px;
    border: 1px solid #DDDDDD;
    width: 98%;
    height: 40px;
    background-color: #F5F5F5;
}

.view-content-list-title p{
    position: relative;
    left: 20px;
    top: 10px;
}

.view-content-list-container {
    border-left: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    width: 98%;
    padding: 20px;
    text-align: left;

}

#View-content-list {
    border: 1px solid #DDDDDD;
    border-collapse: collapse;
    width: 100%;
    max-height: 650px;
}

#View-content-list tr:nth-child(odd) td {
    background: #f5f5f5;
}

#View-content-list thead{
    height: 30px;
}

#View-content-list thead th{
    border: 1px solid #DDDDDD;
    text-align: start;
    padding-left: 1%;

}

#View-content-list tbody{
    height: 100px;
}

#View-content-list tbody td{
    border: 1px solid #DDDDDD;
    /*padding-left: 1%;*/
    /*padding-right: 1%;*/
    padding: 5px 1% 5px 1%;
    word-wrap: break-word;
    height: 60px;
}

#View-content-list tbody td .view-content-btn-container{
    display: flex;
    flex-direction: row;
    align-content: center;
}

#View-content-list tbody td input{
    border: 1px solid;
    border-radius: 4px;
    color: white;
    height: 30px;
    width: 60px;
    font-size: 15px;
    font-weight: 600;
}

#View-content-list tbody td input.view-content-btn-edit{
    background: #2bcb2b;
}

#View-content-list tbody td input.view-content-btn-edit:hover{
    background: #1de11d;
    cursor: pointer;
}

#View-content-list tbody td input.view-content-btn-delete{
    margin-left: 12%;
    background: #2bcb2b;
}

#View-content-list tbody td input.view-content-btn-delete:hover{
    background: #1de11d;
    cursor: pointer;
}


.view-content-list-container #View-content-list th.id {
    width: 70px;
}
.view-content-list-container #View-content-list th.title {
    width: 200px;
}
.view-content-list-container #View-content-list th.brief {
    width: 960px;
}
.view-content-list-container #View-content-list th.created-date {
    width: 140px;
}
.view-content-list-container #View-content-list th.actions {
    width: 165px;
}

.view-content-list-container #View-content-list td.id {
    max-width: 45px;
}
.view-content-list-container #View-content-list td.title {
    max-width: 200px;
}
.view-content-list-container #View-content-list td.brief {
    max-width: 960px;
}
.view-content-list-container #View-content-list td.created-date {
    max-width: 140px;
}
.view-content-list-container #View-content-list td.actions {
    max-width: 165px;
}


.view-content-list-container .btn-field{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
.view-content-list-container .btn-field a {
    margin-top: 18px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
    text-decoration: none;
}
.view-content-list-container .btn-field input{
    margin-top: 10px;
    background: #2bcb2b;
    border: 0 solid #CCCCCC;
    border-radius: 4px;
    height: 30px;
    width: 80px;
    font-weight: 500;
    font-size: 15px;
    color: white;
}

.view-content-list-container .btn-field input:hover{
    cursor: pointer;
    color: whitesmoke;
    background: #1de11d;
}
