/* -------------------- Login - 2Du -------------------- */
#login-form{
    width: 30vw;
    height: 45vh;
    margin: 0 auto;
    margin-top: 20vh;
    border: 2px solid #CCCCCC;
    border-radius: 4px;
   
}

.login-container{ 
    padding: 2vh 2vw; 
}

.login-content{
    margin-bottom: 3vh;
    position: relative;
}

.login-header{
    border-bottom: 2px solid #CCCCCC;
    margin: -2vh -2vw 3vh -2vw;
    padding: 2vh 2vw;
    background-color: rgb(245, 245, 245) ;
    font-size: 22px;
    font-weight: 400;
}

.login-textbox{
    width: 25.5vw;
    height: 5vh;
    border: 2px solid #CCCCCC;
    border-radius: 5px;
    text-indent: 15px;
}

.error-message{
    color:red;
    font-size: 22px;
}

.login-checkbox{
    margin-left: 0px;
    background: #DEDEDE;
}

.login-content.invalid .login-textbox{
    border-color: red;
}

#login-button{
    width: 25.5vw;
    height: 6vh;
    color: white;
    font-size: 20px;
    background-color: rgb(92, 184, 92);
    border: 0px;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 600;
}

/* -------------------- Register - 2Du -------------------- */
#register-form{
    width: 30vw;
    height: 55vh;
    margin: 0 auto;
    margin-top: 15vh;
    border: 2px solid #CCCCCC;
    border-radius: 4px;
}

.register-container{ 
    padding: 2vh 2vw; 
}

.register-content{
    margin-bottom: 3vh;
}

.register-header{
    border-bottom: 2px solid #CCCCCC;
    margin: -2vh -2vw 3vh -2vw;
    padding: 2vh 2vw;
    background-color: rgb(245, 245, 245);
    font-size: 22px;
    font-weight: 400;
}

.register-textbox{
    width: 25.5vw;
    height: 5vh;
    border: 2px solid #CCCCCC;
    border-radius: 4px;
    text-indent: 15px;
}

.register-content.invalid .register-textbox{
    border-color: red;
}

.register-checkbox{
    margin-left: 0px;
}

#register-button{
    width: 25.5vw;
    height: 6vh;
    color: white;
    font-size: 20px;
    background-color: rgb(92, 184, 92);
    border: 0px;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 600;
}

/* -------------------- Edit Profile - Wibu -------------------- */

html {
    scroll-behavior: smooth;
}

/* #main::after {
    content: "";
    display: block;
    clear: both;
} */

#content {
    height: 900px;
    width: 1535px;
    /* float: right; */
    margin-left: 250px;
}

#content .heading {
    border-bottom: 2px solid #CCCCCC;
    margin-left: 35px;
    padding-top: 50px;
}


#content .form-content {
    border: 1px solid #CCCCCC;
    margin-top: 30px;
    margin-left: 35px;
}

#content .form-content {
    background-color: #FFFFFF;
}

#content .form-content .heading-form-profile {
    height: 40px;
    border-bottom: 2px solid #CCCCCC;
    background-color: #F5F5F5;
}

#content .form-content .heading-form-profile .text-heading {
    position: relative;
    left: 20px;
    top: 10px;
    font-size: 18px;
    font-weight: 300;
}

#content .form-profile {
    width: 80%;
    margin: 4px;
    background-color: #FFFFFF;
    padding-left: 15px;
}

#content .form-profile {
    margin: 20px 50px 10px 0;
}


#content .form-profile .profile-label {
    margin: 4px;
    font-weight: 550;
}

#content .form-profile .profile-input {
    width: 100%;
    margin: 8px 4px 12px;
    padding: 4px 8px;
    height: 35px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
}

#content .form-profile #profile-description.profile-input {
    height: 350px;
}

#profile-email {
    display: block;
    margin: 8px 4px 16px;
    width: 100%;
}

#profile-description {
    height: 64px;
    word-break: break-all;
    white-space: nowrap;
}

.btn {
    margin-left: 5px;
    padding: 5px 5px 5px 5px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    height: 35px;
    width: 110px;
}

/* -------------------- Add Content - Dibu -------------------- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    zoom: 100%;
}

.add-content{
    padding-top: 50px;
    margin-left: 250px;
    padding-left: 2%;
    /*height: 100%;*/
}

.add-content .form-content hr{
    width:98%;
}

.add-content .form-content .container {
    width: 98%;
    margin-top: 30px;
}

.add-content .form-content .container h2{
    font-size: 16px;
    font-weight: 300;
    position: relative;
    left: 20px;
    top: 10px;
}

.add-content .form-content .container .add-content-title{
    margin-top: 30px;
    border: 1px solid #CCCCCC;
    width: 100%;
    height: 40px;
    background-color: #F5F5F5;
}

.add-content .form-content .container .input-content{
    border: 1px solid #CCCCCC;
    padding-left: 15px;
    padding-bottom: 10px;
}

.add-content .form-content .container .input-content .input-field{
    margin: 20px 50px 10px 5px;
}

.add-content .form-content .container .input-content .input-field label{
    font-weight: 550;
}

.add-content .form-content .container .input-content .input-field input, textarea{
    width: 95%;
    padding: 5px 5px 5px 5px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    margin-top: 5px;
}

.add-content .form-content .container .input-content .input-field .title {
    height: 35px;
}

.add-content .form-content .container .input-content .input-field .brief {
    height: 150px;
}

.form-content .container .input-content .input-field .content {
    height: 250px;
}

.form-content .container .input-content .button-field input{
    margin-left: 5px;
    padding: 5px 5px 5px 5px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    height: 35px;
    width: 110px;

}
.form-content .container .input-content .button-field input:hover{
    cursor: pointer;
    color: whitesmoke;
    background: gray;
}
/* validation  */
.invalid-input{
    border: 1px solid red !important;
}
.valid-input{
    border: 2px solid rgb(70, 79, 206) !important;
}
.active-Visible{
    visibility:visible !important;
}
.invalid-Message{
    color: red;
    /*position:absolute;*/
    text-align: left;
    margin-left: 3px;
    margin-top: 1px;
    margin-bottom: 10px;
}

/*Edit Content*/

.edit-content{
    padding-top: 50px;
    margin-left: 250px;
    padding-left: 2%;
    /*height: 100%;*/
}

.edit-content .form-content hr{
    width:98%;
}

.edit-content .form-content .container {
    width: 98%;
    margin-top: 30px;
}

.edit-content .form-content .container h2{
    font-size: 16px;
    font-weight: 300;
    position: relative;
    left: 20px;
    top: 10px;
}

.edit-content .form-content .container .edit-content-title{
    margin-top: 30px;
    border: 1px solid #CCCCCC;
    width: 100%;
    height: 40px;
    background-color: #F5F5F5;
}

.edit-content .form-content .container .input-content{
    border: 1px solid #CCCCCC;
    padding-left: 15px;
    padding-bottom: 10px;
}

.edit-content .form-content .container .input-content .input-field{
    margin: 20px 50px 10px 5px;
}

.edit-content .form-content .container .input-content .input-field label{
    font-weight: 550;
}

.edit-content .form-content .container .input-content .input-field input, textarea{
    width: 95%;
    padding: 5px 5px 5px 5px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    margin-top: 5px;
}

.edit-content .form-content .container .input-content .input-field .title {
    height: 35px;
}

.edit-content .form-content .container .input-content .input-field .brief {
    height: 150px;
}

/* -------------------- View Content - Thắng -------------------- */
body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

header{
    background-color: #F8F8F8;
    padding: 20px;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #CCCCCC;
}

.left-area h3{
    color: #B9A48D;
    /*margin: 0;*/
    margin-left: -5px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
}

.logout_btn{
    position: relative;
    padding: 5px;
    /* background: #337AB7; */
    color: #337AB7;
    float: right;
    margin-top: -30px;
    margin-right: 0;
    border-radius: 2px;
    font-size: 15px;
    transition-property: background;
}
.logout_btn>a {
    text-decoration: none;
    color: #337AB7;
}
.logout_btn:hover{
    color: #49a1ee;
}

.logout_btn:hover .subnav{
    display: inline-block;
}

.logout_btn .subnav {
    display: none;
    position: absolute;
    top: calc(100%);
    right: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    list-style-type: none;
    text-decoration: none;
    min-width: 160px;
}
.logout_btn .subnav li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    color: #000;
    height: 40px;
    font-size: 15px;
}

.logout_btn .subnav li.subnav-top{
    border-top: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}
.logout_btn .subnav li.subnav-bottom{
    border: 1px solid #CCCCCC;
}

.logout_btn .subnav li:hover {
    opacity: 0.8;
}

.logout_btn .subnav li a {
    color: #000;
    text-decoration: none;
}

.sidebar{
    background-color: #F8F8F8;
    margin-top: 0;
    padding-top: 30px;
    position: fixed;
    left: 0;
    height: 100%;
    width: 250px;
    border-right: 1px solid #CCCCCC;
}

.sidebar a{
    color: #3B7FB9;
    display: block;
    /* width: 100%; */
    line-height: 40px;
    text-decoration: none;
    padding-left: 15px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}

.sidebar a.sidebar-top {
    border-top: 1px solid #CCCCCC;
}

.sidebar a.sidebar-bottom {
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
}

.sidebar a:hover{
    background-color: #EEEEEE;
}


.sidebar .form-search {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: -5px;
    margin-left: 25px;
    margin-bottom: 25px;
    /* border-bottom: 2px solid rgb(200, 200, 200); */
}


.sidebar .form-search .search-input {
    padding: 2px;
    border: 2px solid #CCCCCC;
    height: 35px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    text-indent: 10px;
}

.sidebar .form-search .search-btn {
    /* background-color: #ccc; */
    border-top: 2px solid #CCCCCC;
    border-right: 2px solid #CCCCCC;
    border-bottom: 2px solid #CCCCCC;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 35px;
    width: 35px;

}

.sidebar .form-search .search-btn i{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -50%);
}

.sidebar i{
    padding-right: 10px;
}

.view-content{
    padding-top: 50px;
    margin-left: 250px;
    padding-left: 2%;

    visibility: hidden;
    opacity: 0;
}

.view-content.show{
    visibility: visible;
    opacity: 1;
}

#loading{
    /*padding-top: 50px;*/
    margin-top: 30px;
    margin-left: 250px;
    margin-bottom: -60px;
    padding-left: 2%;
    visibility: visible;
    opacity: 1;
}

#loading.hide{
    visibility: hidden;
    opacity: 0;
}

#loading p{
    font-size: 25px;
}

.view-content hr{
    width: 98%;
    margin-left: 0;
}

.view-content-list-title{
    margin-top: 30px;
    border: 1px solid #DDDDDD;
    width: 98%;
    height: 40px;
    background-color: #F5F5F5;
}

.view-content-list-title p{
    position: relative;
    left: 20px;
    top: 10px;
}

.view-content-list-container {
    border-left: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    width: 98%;
    padding: 20px;
    text-align: left;

}

#View-content-list {
    border: 1px solid #DDDDDD;
    border-collapse: collapse;
    width: 100%;
    max-height: 650px;
}

#View-content-list thead{
    height: 30px;
}

#View-content-list thead th{
    border: 1px solid #DDDDDD;
}

#View-content-list tbody{
    height: 50px;
}

#View-content-list tbody td{
    border: 1px solid #DDDDDD;
    padding-left: 1.2%;
}

.view-content-list-container #View-content-list th.id {
    width: 20px;
}
.view-content-list-container #View-content-list th.title {
    width: 120px;
}
.view-content-list-container #View-content-list th.brief {
    width: 400px;
}
.view-content-list-container #View-content-list th.created-date {
    width: 60px;
}
.view-content-list-container #View-content-list th.actions {
    width: 70px;
}

.view-content-list-container .btn-field{
    display: flex;
    flex-direction: row;
}
.view-content-list-container .btn-field a {
    margin-top: 18px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
}
.view-content-list-container .btn-field input{
    margin-top: 10px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    height: 30px;
    width: 80px;
    font-size: 12px;
}
